*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(cos2.jpg);
    background-size: cover;
    background-position:center ;
  
    font-family: sans-serif;

}
.menubar
{
    background-color: gray;
    text-align: center;

}
.menubar ul 
{
    display: inline-flex;
    list-style: none;
    color:black;    

}
.menubar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;

}
.menubar ul li a

{
    text-decoration: none;
    color: black;
}
.active,  .menubar ul li :hover
{
    background: white;
    border-radius:3px ;
}
.menubar .fa
{
    margin-right: 8px;
}
.Sub-menu-1
{
    display: none;

}
.menubar ul li:hover .Sub-menu-1
{
    display: block;
    position: absolute;
    background:gray;
    margin-top: 15px;
    margin-left: -15px;
}
.menubar ul li:hover .Sub-menu-1 ul 
{
    display: block;
    margin: 10px;
}
.menubar ul li:hover .Sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menubar ul li:hover .Sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menubar ul li:hover .Sub-menu-1 ul li a:hover
{
    color: red;
}