body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-image: url(cos4.png);
    background-size: cover;
    background-position: center;
  
    
    

}
*{
    box-sizing: border-box;
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    position:fixed;
    left: 0;
    top: 0;
    background-image: url(cos3.jpg);
    background-size: cover;
    background-position: center;
    
}
.logo img{
    height: 80px;

}
nav .menu{
    display: flex;

}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: grey;
    letter-spacing: 1px;


}
.search{
    width: 250px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
    
}
.search input{
    width:100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;


}
.search i {
    color: #3a3a3a;

}
nav .menu li a:hover{
    background-color:black;
    color: white;
    box-shadow: 5px 10px 30px;
    transition: all ease 0.2s;
}
#main{
    padding-top:80px;
    background-color: white;
}
.showcase-box{
    width: 430px;
    height: 250px;
    box-shadow: 5px 15px 30px black;
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;
    display: block;
    right: 100%;

}


.section
{
    
    background-image: url(cos3.jpg);
    background-size: cover;
    background-position: center;
}
.showcase {
    padding-right: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    color: black;
    text-align: center;
    margin-top: 30px;
    
}
.showcase p{
    font-family: Arial;
    font-size: 64px;
    text-align: center;
    font-style: vertical-align;
}
h1{
 line-height: 250px;
 text-align: center;
 text-transform: capitalize;
 font-weight: bold;
 text-shadow: -5px -5px 5px grey;
}

article .newlist .newitem{
    width: 29%;
    
    padding: 1%;
    float: left;
    border-left: 5px solid gray ;
    margin-right: 4%;
    
    box-shadow:  -5px -5px 5px grey;
    text-size-adjust: 10px;
    
    

}

.container{
    width: 1000px;
    margin: 0 auto;
}
.footer{
    display: inline;
    height: -1px;


}
body{
    background-image: url(cos.png);
}
.slider img{
display: block;
text-align: center;
}

article .newlist .newitem .content{
    text-align: left;
    color: black;
    background-color: whitesmoke;
    width: 265px;
    height: 200px;
}

article .newlist .newitem .p{
    width: 265px;
    height: 200px;
    color: red
    ;
    
}
article .newlist .newitem .content .a{
    color: red;
}

